/* your styles go here */

div.content-wrapper {
    margin: auto;
    float: none;
}

div.content-wrapper img {
    cursor: pointer;
}

@media (min-width: 1200px) {
    div.content-wrapper img {
        width: 66.6666666%;
    }
}

.content-column-content p {
    color: #333333;
}
